.App-logo {
  height: 10vmin;
  pointer-events: none;
  position: absolute;
  top: 8px;
  left: -20px;
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.iframe {
  /* background-color: white; */
}

.title {
  font-size: calc(20px + 2vmin);
}
.date {
  top: 50px;
}
.picture {
  width: 65vw;
}
.explanation {
  font-size: calc(2vmin);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  display: block;
  float: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .title {
    position: absolute;
    top: 50px;
  }
  .date {
    position: absolute;
    top: 110px;
  }
  .picture {
    margin-top: -81px;
  }
}
